## Capstone - Data Import Exercise

##### Reference - https://analyse.kmi.open.ac.uk/open_datasetb

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

In [2]:
# read in file - assessments.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\assessments.csv"

assess_df = pd.read_csv(file_path)

print(assess_df.head())

  code_module code_presentation  id_assessment assessment_type date  weight
0         AAA             2013J           1752             TMA   19    10.0
1         AAA             2013J           1753             TMA   54    20.0
2         AAA             2013J           1754             TMA  117    20.0
3         AAA             2013J           1755             TMA  166    20.0
4         AAA             2013J           1756             TMA  215    30.0

In [3]:
# read in file - courses.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\courses.csv"

courses_df = pd.read_csv(file_path)

print(courses_df.head())

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [4]:
# read in file - studentAssessment.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentAssessment.csv"

studentAssessment_df = pd.read_csv(file_path)

print(studentAssessment_df.head())

   id_assessment  id_student  date_submitted  is_banked score
0           1752       11391              18          0    78
1           1752       28400              22          0    70
2           1752       31604              17          0    72
3           1752       32885              26          0    69
4           1752       38053              19          0    79

In [5]:
# read in file - studentInfo.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentInfo.csv"

studentInfo_df = pd.read_csv(file_path)

print(studentInfo_df.head())

  code_module code_presentation  id_student gender                region  \
0         AAA             2013J       11391      M   East Anglian Region
1         AAA             2013J       28400      F              Scotland
2         AAA             2013J       30268      F  North Western Region
3         AAA             2013J       31604      F     South East Region
4         AAA             2013J       32885      F  West Midlands Region

       highest_education imd_band age_band  num_of_prev_attempts  \
0       HE Qualification  90-100%     55<=                     0
1       HE Qualification   20-30%    35-55                     0
2  A Level or Equivalent   30-40%    35-55                     0
3  A Level or Equivalent   50-60%    35-55                     0
4     Lower Than A Level   50-60%     0-35                     0

   studied_credits disability final_result
0              240          N         Pass
1               60          N         Pass
2               60          Y    Withdrawn
3               60          N         Pass
4               60          N         Pass

In [6]:
# read in file - studentAssessment.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentRegistration.csv"

studentRegistration_df = pd.read_csv(file_path)

print(studentRegistration_df.head())

  code_module code_presentation  id_student date_registration  \
0         AAA             2013J       11391              -159
1         AAA             2013J       28400               -53
2         AAA             2013J       30268               -92
3         AAA             2013J       31604               -52
4         AAA             2013J       32885              -176

  date_unregistration
0                   ?
1                   ?
2                  12
3                   ?
4                   ?

In [7]:
# read in file - studentVle.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentVle.csv"

studentVle_df = pd.read_csv(file_path)

print(studentVle_df.head())

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [8]:
# read in file - vle.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\vle.csv"

vle_df = pd.read_csv(file_path)

print(vle_df.head())

   id_site code_module code_presentation activity_type week_from week_to
0   546943         AAA             2013J      resource         ?       ?
1   546712         AAA             2013J     oucontent         ?       ?
2   546998         AAA             2013J      resource         ?       ?
3   546888         AAA             2013J           url         ?       ?
4   547035         AAA             2013J      resource         ?       ?

### creating a df of student performace and interaction detail from the vle files - VLE + Student_VLE

Joining the dataframs using a .concat. , specifically an inner join.
Resets the index to zero for the entire dataframe using .reset_index(). By setting the drop value to 'True', the index is reset to the default integer index.

In [9]:
#  merge the datasets using concatenate and reeset the index
perform_df = [vle_df, studentVle_df]

In [10]:
# join the dataframe together using concatenate 
new_vle_df = pd.concat(perform_df)

In [22]:
new_vle_df.head()

,id_site,code_module,code_presentation,activity_type,week_from,week_to,id_student,interaction_date,sum_click
0,546943,AAA,2013J,resource,?,?,NaN,NaN,NaN
1,546712,AAA,2013J,oucontent,?,?,NaN,NaN,NaN
2,546998,AAA,2013J,resource,?,?,NaN,NaN,NaN
3,546888,AAA,2013J,url,?,?,NaN,NaN,NaN
4,547035,AAA,2013J,resource,?,?,NaN,NaN,NaN

In [24]:
# Rename columns in new_vle_df 
new_vle_df.rename(columns={
    'date': 'interaction_date',
    #'date_submitted': 'submission_date',
    #'score': 'assessment_score'
}, inplace=True)

In [25]:
# Calculate summary statistics for each student
summary_df = new_vle_df.groupby('id_student').agg({
    'interaction_date': ['count', 'min', 'max'],        # Count of interactions and min/max dates
    'interaction_type': 'nunique',                     # Count of unique interaction types
    'total_clicks': 'sum',                             # Total clicks made by the student
    #'submission_date': ['count', 'min', 'max'],        # Count of assessments, and min/max submission dates
    #'assessment_score': ['mean', 'min', 'max']         # Mean, min, and max assessment scores
}).reset_index()

KeyError: "Column(s) ['interaction_type', 'total_clicks'] do not exist"

In [21]:
# Flatten the MultiIndex column names
#summary_df.columns = ['_'.join(col).strip() for col in summary_df.columns.values]

In [ ]:
# Rename columns for clarity
#summary_df.rename(columns={
#    'date_count': 'total_interactions',
#    'date_min': 'first_interaction_date',
#    'date_max': 'last_interaction_date',
#    'interaction_type_nunique': 'unique_interaction_types',
#    'total_clicks_sum': 'total_clicks',
#    'date_submitted_count': 'total_assessments',
#    'date_submitted_min': 'first_submission_date',
#    'date_submitted_max': 'last_submission_date',
#    'score_mean': 'mean_assessment_score',
#    'score_min': 'min_assessment_score',
#    'score_max': 'max_assessment_score'
#}, inplace=True)

In [ ]:
# Print the summary DataFrame
#print(summary_df)