## Capstone - Data Import Exercise

##### Reference - https://analyse.kmi.open.ac.uk/open_datasetb

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

## Exploring the CSV files

In [ ]:
# read in file - assessments.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\assessments.csv"

assess_df = pd.read_csv(file_path)

print(assess_df.head())

In [ ]:
assess_df.info()

In [ ]:
# read in file - courses.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\courses.csv"

courses_df = pd.read_csv(file_path)

print(courses_df.head())

In [ ]:
courses_df.info()

In [ ]:
# read in file - studentAssessment.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentAssessment.csv"

studentAssessment_df = pd.read_csv(file_path)

print(studentAssessment_df.head())

In [ ]:
studentAssessment_df.info()

In [ ]:
# read in file - studentInfo.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentInfo.csv"

studentInfo_df = pd.read_csv(file_path)

print(studentInfo_df.head())

In [ ]:
studentInfo_df.info()

In [ ]:
# read in file - studentAssessment.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentRegistration.csv"

studentRegistration_df = pd.read_csv(file_path)

print(studentRegistration_df.head())

In [ ]:
studentRegistration_df.info()

In [ ]:
# read in file - studentVle.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentVle.csv"

student_vle_df = pd.read_csv(file_path)

print(student_vle_df.head())

In [ ]:
student_vle_df.info()

In [ ]:
# read in file - vle.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\vle.csv"

vle_df = pd.read_csv(file_path)

print(vle_df.head())

In [ ]:
#vle_df.info()

## Graphing the CSV files

In [ ]:
# studentInfo_df

sns.histplot(x=studentInfo_df["gender"]).set(title = "Gender Distribution")

plt.title('Age Distribution by Ban')
plt.xlabel('Gender')
plt.ylabel('Number of Students')
plt.show()

In [ ]:
# studentInfo_df

studentInfo_df[['id_student', 'age_band']].groupby(by='age_band').count().plot.bar()

plt.title('Age Distribution by Band')
plt.xlabel('Age Band')
plt.ylabel('Number of Students')
plt.xticks(rotation = 90)
plt.show()

In [ ]:
# studentInfo_df


sns.histplot(x=studentInfo_df["highest_education"])

plt.title('Education Levels of Student')
plt.xlabel('Education Level')
plt.ylabel('Number of Students')
plt.xticks(rotation = 90)
plt.show()

In [ ]:
# studentInfo_df

# Drop 'id_student' and 'num_of_prev_attempts' columns 
# to show the highest level of education of the student
studentInfo_df.drop(['id_student', 'num_of_prev_attempts'], axis=1).boxplot(by = 'highest_education')


plt.title('Highest level of education of the student')
plt.xlabel('Education Level')
plt.ylabel('Number of previous attempts')
plt.xticks(rotation = 90)
plt.show()

In [ ]:
# studentInfo_df

# Drop 'id_student' and 'num_of_prev_attempts' columns and showcase module
studentInfo_df.drop(['id_student', 'num_of_prev_attempts'], axis=1).boxplot(by = 'code_module')

plt.title('Number of attempts to complete the module')
plt.xlabel('Modules by Code')
plt.ylabel('Number of previous attempts')
plt.xticks(rotation = 90)
plt.show()

In [ ]:
# 

# show the number of attemts to complete the module by credits earned by module
sns.jointplot(data=studentInfo_df, x="num_of_prev_attempts", y="id_student", hue="studied_credits")

plt.title('Number of attempts to pass the module by credits studied by module')
plt.xlabel('Number of Students')
plt.ylabel('Region')
plt.show()

In [ ]:
# studentRegistration_df

# count the students registered by module
module_counts = studentRegistration_df['code_module'].value_counts()

plt.figure(figsize=(12, 6))
module_counts.plot(kind='bar')
plt.title('Number of Students Registered by Module')
plt.xlabel('Module Code')
plt.ylabel('Number of Students Registered')
plt.show()

In [ ]:
# studentInfo_df

# show student ages by region 
pd.crosstab(studentInfo_df.region, studentInfo_df.age_band).plot.barh(stacked = True)

plt.title('Age Bands of Students by Region')
plt.xlabel('Number of Students')
plt.ylabel('Region')
plt.show()

## Performance and Interaction 

### Creating a df of student performace and interaction detail from the vle files - VLE + Student_VLE

Joining the dataframs using a .concat. , specifically an inner join.
Resets the index to zero for the entire dataframe using .reset_index(). By setting the drop value to 'True', the index is reset to the default integer index.

In [ ]:
#  merge the datasets using concatenate and reeset the index
perform_df = [vle_df, student_vle_df]

In [ ]:
# join the dataframe together using a join

combined_vle_df = pd.merge(student_vle_df, vle_df, on='id_site', how='inner')

In [ ]:
# show the combined df

combined_vle_df.head()

In [ ]:
# filter the results by code_module  - AAA in this instance

course_code = ['AAA']

filtered_df = combined_vle_df.loc[combined_vle_df['code_module_x'].isin(course_code)]

filtered_df.head()

In [ ]:
# group the number of student logins by date 


# total_logins = combined_vle_df.groupby('id_student')['date'].count()
total_logins = filtered_df.groupby('id_student')['date'].count()

total_logins.head()

In [ ]:
# calculate the feature logins by student based on their access to the vle

feature_logins = combined_vle_df.groupby(['id_student', 'id_site']).size().reset_index(name='login_count')

In [ ]:
# print out the newly created variable holding the feature logins by student

print(feature_logins)

In [ ]:
# read in the csv file and transpose the data so 1 row is for each student
# Reference - https://stackoverflow.com/questions/58030352/csv-file-transpose-column-to-row-in-python

feature_vle = feature_logins.pivot(index='id_student', columns='id_site', values='login_count').reset_index()

In [ ]:
# fill in the NaN results with 0
feature_vle = feature_vle.fillna(0)

In [ ]:
feature_vle

In [ ]:
# convert the feature_vle to a csv file 

feature_vle.to_csv('C:\\Users\\sinea\\OneDrive\\Documents OneDrive\\06 - CCT Masters in DA\\Capstone - 2023\\uci-open-university-learning-analytics-dataset\\feature_vle.csv', index=False)

## Exploring the Student and Course files

### Filter students by course

create a csv file for student information

In [ ]:
# Convert date columns to datetime type
#studentRegistration_df['date_registration'] = pd.to_datetime(studentRegistration_df['date_registration'])

In [ ]:
studentRegistration_df.info()

## References 

1. https://analyse.kmi.open.ac.uk/open_dataset, accessed 21 July 2023
2. https://stackoverflow.com/questions/58030352/csv-file-transpose-column-to-row-in-python, accessed on 25 July 2023
3.