## Capstone - Data Import Exercise

##### Reference - https://analyse.kmi.open.ac.uk/open_datasetb

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

In [2]:
# read in file - assessments.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\assessments.csv"

assess_df = pd.read_csv(file_path)

print(assess_df.head())

  code_module code_presentation  id_assessment assessment_type date  weight
0         AAA             2013J           1752             TMA   19    10.0
1         AAA             2013J           1753             TMA   54    20.0
2         AAA             2013J           1754             TMA  117    20.0
3         AAA             2013J           1755             TMA  166    20.0
4         AAA             2013J           1756             TMA  215    30.0

In [3]:
# read in file - courses.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\courses.csv"

courses_df = pd.read_csv(file_path)

print(courses_df.head())

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [4]:
# read in file - studentAssessment.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentAssessment.csv"

studentAssessment_df = pd.read_csv(file_path)

print(studentAssessment_df.head())

   id_assessment  id_student  date_submitted  is_banked score
0           1752       11391              18          0    78
1           1752       28400              22          0    70
2           1752       31604              17          0    72
3           1752       32885              26          0    69
4           1752       38053              19          0    79

In [5]:
# read in file - studentInfo.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentInfo.csv"

studentInfo_df = pd.read_csv(file_path)

print(studentInfo_df.head())

  code_module code_presentation  id_student gender                region  \
0         AAA             2013J       11391      M   East Anglian Region
1         AAA             2013J       28400      F              Scotland
2         AAA             2013J       30268      F  North Western Region
3         AAA             2013J       31604      F     South East Region
4         AAA             2013J       32885      F  West Midlands Region

       highest_education imd_band age_band  num_of_prev_attempts  \
0       HE Qualification  90-100%     55<=                     0
1       HE Qualification   20-30%    35-55                     0
2  A Level or Equivalent   30-40%    35-55                     0
3  A Level or Equivalent   50-60%    35-55                     0
4     Lower Than A Level   50-60%     0-35                     0

   studied_credits disability final_result
0              240          N         Pass
1               60          N         Pass
2               60          Y    Withdrawn
3               60          N         Pass
4               60          N         Pass

In [6]:
# read in file - studentAssessment.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentRegistration.csv"

studentRegistration_df = pd.read_csv(file_path)

print(studentRegistration_df.head())

  code_module code_presentation  id_student date_registration  \
0         AAA             2013J       11391              -159
1         AAA             2013J       28400               -53
2         AAA             2013J       30268               -92
3         AAA             2013J       31604               -52
4         AAA             2013J       32885              -176

  date_unregistration
0                   ?
1                   ?
2                  12
3                   ?
4                   ?

In [11]:
# read in file - studentVle.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\studentVle.csv"

student_vle_df = pd.read_csv(file_path)

print(student_vle_df.head())

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [8]:
# read in file - vle.csv
file_path = r"C:\Users\sinea\OneDrive\Documents OneDrive\06 - CCT Masters in DA\Capstone - 2023\uci-open-university-learning-analytics-dataset\vle.csv"

vle_df = pd.read_csv(file_path)

print(vle_df.head())

   id_site code_module code_presentation activity_type week_from week_to
0   546943         AAA             2013J      resource         ?       ?
1   546712         AAA             2013J     oucontent         ?       ?
2   546998         AAA             2013J      resource         ?       ?
3   546888         AAA             2013J           url         ?       ?
4   547035         AAA             2013J      resource         ?       ?

## Performance and Interaction 

### Creating a df of student performace and interaction detail from the vle files - VLE + Student_VLE

Joining the dataframs using a .concat. , specifically an inner join.
Resets the index to zero for the entire dataframe using .reset_index(). By setting the drop value to 'True', the index is reset to the default integer index.

In [12]:
#  merge the datasets using concatenate and reeset the index
perform_df = [vle_df, student_vle_df]

In [15]:
# join the dataframe together using a join

combined_vle_df = pd.merge(student_vle_df, vle_df, on='id_site', how='inner')

In [16]:
# show the combined df

#combined_vle_df.head()

,code_module_x,code_presentation_x,id_student,id_site,date,sum_click,code_module_y,code_presentation_y,activity_type,week_from,week_to
0,AAA,2013J,28400,546652,-10,4,AAA,2013J,forumng,?,?
1,AAA,2013J,28400,546652,-10,1,AAA,2013J,forumng,?,?
2,AAA,2013J,28400,546652,-10,1,AAA,2013J,forumng,?,?
3,AAA,2013J,28400,546652,-10,8,AAA,2013J,forumng,?,?
4,AAA,2013J,30268,546652,-10,3,AAA,2013J,forumng,?,?

In [18]:
# group the number of student logins by date 

#total_logins = combined_df.groupby('id_student')['date'].count()

In [22]:
#total_logins

In [26]:
# calculate the feature logins by student based on their access to the vle

feature_logins = student_vle_df.groupby(['id_student', 'id_site']).size().reset_index(name='login_count')

In [27]:
# print out the newly created variable holding the feature logins by student

print(feature_logins)

         id_student  id_site  login_count
0              6516   877011            6
1              6516   877012          132
2              6516   877015           13
3              6516   877023            3
4              6516   877025           21
...             ...      ...          ...
1960491     2698588   951619            1
1960492     2698588   951621            3
1960493     2698588   951623            2
1960494     2698588   985230            3
1960495     2698588   992243            2

[1960496 rows x 3 columns]

In [28]:
# read in the csv file and transpose the data so 1 row is for each student
# Reference - https://stackoverflow.com/questions/58030352/csv-file-transpose-column-to-row-in-python

feature_vle = feature_logins.pivot(index='id_student', columns='id_site', values='login_count').reset_index()

In [30]:
# fill in the NaN results with 0
feature_vle = feature_vle.fillna(0)

In [31]:
feature_vle

id_site,id_student,526721,526735,526737,526738,526739,526740,526741,526742,526743,...,1016724,1019025,1042373,1042374,1042375,1042376,1046237,1046812,1046866,1049562
0,6516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,23629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,23698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26069,2698251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26070,2698257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26071,2698535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26072,2698577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26073,2698588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# convert the feature_vle to a csv file 

feature_vle.to_csv('feature_vle.csv', index=False)

## Exploring the Student and Course files

### Filter students by course

create a csv file for student information

In [52]:
# Convert date columns to datetime type
#studentRegistration_df['date_registration'] = pd.to_datetime(studentRegistration_df['date_registration'])

In [49]:
studentRegistration_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   code_module          32593 non-null  object
 1   code_presentation    32593 non-null  object
 2   id_student           32593 non-null  int64
 3   date_registration    32593 non-null  object
 4   date_unregistration  32593 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.2+ MB

## References 

1. https://analyse.kmi.open.ac.uk/open_dataset, accessed 21 July 2023
2. https://stackoverflow.com/questions/58030352/csv-file-transpose-column-to-row-in-python, accessed on 25 July 2023
3.